html{
	height:100%;
	/*-webkit-tap-highlight-color: rgba(0, 0, 0, 0);*/
}
body{
	box-sizing: block;
	margin: auto;
	padding-bottom: 89px;
	max-width: 1024px;
	background-color: #FAFAFA;
}
header{		
}
p{		
	display: block;
	columns: 2;
	margin-right: 15px;
	margin-bottom: 15px;
	margin-top: 20px;
	margin-left: 15px;
	font-family: sans-serif;
	color: #555555;
	font-size: 15px;
	font-weight: lighter;
	letter-spacing: 0px;
	line-height: 1.3;
	vertical-align: top;
}
figure{
	max-width: 100%;
	margin: auto;
	max-height: 768px;
	overflow:hidden;
}
img{
	display: block;
	margin: auto;
	max-width: 100%;
	height: auto;
	overflow: hidden;
}

ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	z-index: +1;
}
ul li{
	float: none;
}
ul li ul{
	float: right;
}
ul li ul li{
	float: left;
}

a{
	display: block;
	color: #555555;
	text-align: center;
	padding: 15px 15px;
	text-decoration: none;
	font-family: Monaco, Menlo, monospace;
	font-size: 11px;
	font-weight: lighter;
	letter-spacing: 0px;
	line-height: 1;
	float:left;
}
/*		a:hover:not(.active) {background-color: #DDBB22;}
		li.heading {background-color: #22BBBB;}
		*/
		/*ul li ul li:hover:not(.active) {background-color: #AADDDD;}*/
		ul li ul li:hover, ul li ul li:active {
			background-color: #AADDDD;
		}
		li.heading {
			color: #EECCAA;
		}
		a.active {
			color: #00AAAA;
			letter-spacing: 3px;
			font-size: 11px;
		}

/*		table{
			display: block;
			max-width: 100%;
			text-align: left;
			font-family: Monaco, Menlo, monospace;
			font-size: 11px;
			font-weight: lighter;
			letter-spacing: 0px;
			line-height: 1;
			margin-right: 15px;
			margin-bottom: 15px;
			margin-top: 20px;
			margin-left: 15px;
		}
		th{
			font-weight: lighter;
			color: #00AAAA;
		}
		td{
			color: #777777;
			padding-bottom: 15px;
		}*/

		table{
			display: block;
			max-width: 100%;
			text-align: left;
			font-family: Monaco, Menlo, monospace;
			font-size: 11px;
			font-weight: lighter;
			letter-spacing: 0px;
			line-height: 1;
			margin-right: 15px;
			margin-bottom: 15px;
			margin-top: 20px;
			margin-left: 15px;
		}
		th{
			font-weight: lighter;
			color: #00AAAA;
		}
		td{

			vertical-align: top;
			color: #777777;
			padding-bottom: 15px;
}

		@media screen and (max-width: 600px){
			a{
				float: none;
			}
			ul li{
				float:none;
			}
			ul li ul li{
				float: none;
			}

			ul li ul{
				float: none;	
			}
			p{
				columns: 1;
			}
		}