html{
	height:100%;
	width: 100%;
	background-image: url("tile.png");
    background-repeat: repeat;
    background-attachment: fixed;
    /*background: #FAFAFA;*/
}
body{
	box-sizing: border-box;
	margin: 0px;
	padding:0px;
	width: 100%;
	background-color: transparent;
	min-height: 100%

}
header{
	position: fixed;
	left:30px;
	top:25vh;
	height:100vh;
	box-sizing: border-box;
	transition: top 2s, left 2s;
	z-index: -1;
}

@keyframes cursorBlink {
    from {color: #FAFAFA;}
    to {color: #444444;}
}
p.cursor, p.tiw{
	display:inline-block;
	color: #444444;
	font-family: 'Fenix', serif;
	padding:0px;
	margin:0px;
	background-color: transparent;
}
p.tiwHeading{
	display:inline-block;
	color: #444444;
	font-family: 'Fenix', serif;
	letter-spacing: 2px;
	font-size: 6vw;
	padding:0px;
	margin:0px;
	background-color: transparent;
}
p.cursor{
	font-size: 6vw;
	animation-name: cursorBlink;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.LSC{
	display: block;
	box-sizing: border-box;
	position: fixed;
	top:0px;
	z-index: -2;
	width:50%;
	height: 300px;
	padding-left: 30px;
	top: 35vh;
	left: -100vw;
	background-color: transparent;
	opacity: 0;
	margin-bottom: -300px;

	-webkit-transition: 0.5s all ease-out;
    -moz-transition: 0.5s all ease-out;
    -ms-transition: 0.5s all ease-out;
    transition: 0.5s all ease-out;
}
div.active{
	left:0px;
	opacity: 1;
	background-color: transparent;
}
i.fa{
	display: inline;
	color: #00AAAA;
	padding: 0px;
	padding-right: 15px;
	margin: 0px;
}
p.LSC{
	font-family: 'Noto Serif', serif;
	font-size: 30px;
	text-align: right;
	margin-right: 5vw;
	display: block;
	background-color: rgba(255,255,255, 0.0);
}
div.section {
	box-sizing: border-box;
	max-width: 600px;
	min-height: 100vh;
	display: block;
	margin-left: 50vw;
	margin-right: 15px;
	margin-bottom: 0vh;
	padding-top: 25vh;
	background-color: transparent;
	/*background-color: rgba(255,0,0,0.2);*/
}
div.card {
	box-sizing: border-box;
	max-width: 100%;
	display: block;
	padding: 15px;
	box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1);
	background-color: #FAFAFA;
}

div.anchorSpace{
	content = "";
	box-sizing: border-box;
	max-width: 100%;
	height:5vh;
	display: block;
	margin-bottom: 0vh;
	margin-left: 0px;
	margin-top: 0vh;
	background-color: transparent;
}

p{	
	display: inline;
	box-sizing: border-box;
	color: #444444;
	background-color: transparent;
	font-family: 'Titillium Web', sans-serif;
	font-size: 15px;
	max-width: 100%;
	margin: 0px;
	padding: 0px;
}
a.menuItem{
	display: block;
	box-sizing: border-box;
	color: #444444;
	font-weight: lighter;
	text-decoration: none;
	font-family: 'Fenix', serif;
	font-size: 15px;
	letter-spacing: 0px;
	line-height: 1;
	background-color: transparent;
	padding: 15px;
	border-top-style: solid;
	border-top-width: 4px; 
	border-top-color: #FAFAFA;

	-webkit-transition: .5s all ease-out;
    -moz-transition: .5s all ease-out;
    -ms-transition: .5s all ease-out;
    transition: .5s all ease-out;
}

h1{
	display: block;
	box-sizing: border-box;
	color: #444444;
	font-weight: lighter;
	font-family: 'Fenix', serif;
	font-size: 20px;
	letter-spacing: 0px;
	line-height: 1;
	background-color: transparent;
}

nav{
	box-sizing: border-box;
	display: block;
	position: fixed;
	bottom: 0px;
	left:0px;
	width: 100% ;
	background-color: #FAFAFA;
	box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1);
}
button{
	display: none;
	box-sizing: border-box;
	color: #444444;
	border: none;
	padding: 15px;
	font-family: 'Fenix', serif;
	font-size: 15px;
	letter-spacing: 0px;
	line-height: 1;
	background-color: #FAFAFA;
	cursor: pointer;
	width:100%;
	outline: none;
	box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1);
	border-top-style: solid;
	border-top-width: 4px; 
	border-top-color: #FAFAFA;
}
ul.menu{
	list-style-type: none;
	box-sizing: border-box;
	display: block;
	padding: 0px;
	border:0px;
	margin: 0px;
	float:right;
	
}
ul.menu li{
	/*padding: 15px;*/
	text-align: center;
	float:left;
	
}

ul.programme{
	list-style-type: square;
}
ul.programme li{
	color: #444444;
	background-color: #FAFAFA;
	font-family: 'Titillium Web', sans-serif;
	font-size: 15px;
}

footer{
	width:100%;
	background-color: transparent;
	margin:0px;
}
p.contact{
	display: block;
	font-family: 'Fenix', serif;
	font-size: 13px;
	text-align: center;
	padding-top: 150px;
	padding-bottom: 30px;
	margin: auto;
	background-color: transparent;
}
a.contact{
	width: 30px;
	display: block;
	margin:auto;
	text-align: center;
}
i.fa{
	padding-bottom: 30px;
	margin: auto;
	color: #00AAAA;
}


/*ul.menu li:hover, ul.menu li:active {
	background-color: #00AAAA;
	box-shadow: -5px 2px 5px 0px rgba(0, 0, 0, 0.2);
}*/
a.menuItem:hover{
	color: #FAFAFA;
	background-color: #00AAAA;
	border-top-color: #00AAAA; 
	
}

#menu li.active a {
	color: #444444;
	background-color: #FAFAFA;
	border-top-color: #00AAAA; 
}

ul.fa-ul{
	display: block;
	max-width: 100%;
	text-align: left;
	font-family: 'Titillium Web', sans-serif;
	font-size: 15px;
	letter-spacing: 0px;
	color:#444444;

}
ul.fa-ul li{
	padding-bottom: 15px;
	cursor: pointer;
}
ul.fa-ul li:nth-child(even){
	display: none;
}
ul.fa-ul li:nth-child(odd){
	color: #00AAAA;
}
td{
	vertical-align: top;
	color: #444444;
	padding-bottom: 30px;
	display: none;
}

@media screen and (max-width: 1200px){
	div.section{
		margin-left: auto;
		padding-top: 50vh;
	}
	div.anchorSpace{
		margin-left: auto;
	}
	div.approach, div.programme, div.impact, div.faq, div.us{
		margin-left: auto;
	}
	header{
		top: 15px;
	}
	div.LSC{
		opacity: 0;
		top: 10vh;
		padding-top: 5vh;
		width:600px;
		left: 100vw;
	}
	div.active{
		left: calc(100% - 600px);
		opacity: 1;
	}
}
@media screen and (max-width: 630px){
	div.section{
		margin-left: 15px;
		padding-top: 50vh;
	}
	p.LSC{
		font-size: 25px;
	}
	div.anchorSpace{
		margin-left: 15px;
	}
	div.approach, div.programme, div.impact, div.faq, div.us{
		margin-left: 15px;
		bottom: 0px;
	}
	nav{
		display: block;
	}
	button{
		display: block;
	}
	ul.menu{
		display: none;
		float: none;
	}
	ul.menu li{
		float: none;
	}
	div.LSC{
		width:100%;
		top: 10vh;
		left: -100vw;
		padding-top: 5vh;
		opacity: 0;
	}
	div.active{
		left:0px;
		opacity: 1;
	}
	p.tiwHeading{
		letter-spacing: 1px;
		font-size: 10vw;
	}
	p.cursor{
		font-size: 10vw;
	}
}
}