html{
	height:100%;
	width: 100%;

    background: #FAFAFA;
}
body{
	box-sizing: border-box;
	margin: 0px;
	padding:0px;
	width: 100%;
	background-color: transparent;
	min-height: 100%

}
div.welcome{
	
    
    width: 100%;
    height: 80vh;
    background-color: #00BBAA;
    opacity: 0.05;
    

}
header{
	position: fixed;
	/*left:50%;*/
	top:25vh;
	height:100vh;
	box-sizing: border-box;
	transition: top 1s, left 1s, transform 1s linear;
	z-index: -1;
	/*transform: translate(-50%,0px);*/
	white-space: nowrap;
}

@keyframes cursorBlink {
    from {color: #FAFAFA;}
    to {color: #444444;}
}
p.cursor, p.tiw{
	display:inline-block;
	color: #444444;
	font-family: 'Fenix', serif;
	padding:0px;
	margin:0px;
	background-color: transparent;
}
p.tiwHeading{
	display:inline-block;
	color: #444444;
	font-family: 'Fenix', serif;
	letter-spacing: 2px;
	font-size: 6vw;
	padding:0px;
	margin:0px;
	background-color: transparent;
}
p.cursor{
	font-size: 6vw;
	animation-name: cursorBlink;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.LSC{
	display: block;
	box-sizing: border-box;
	position: fixed;
	z-index: -2;
	width:50%;
	height: 300px;
	padding-left: 30px;
	top: 35vh;
	left: -100vw;
	background-color: transparent;
	opacity: 0;
	/*margin-bottom: -300px;*/

	-webkit-transition: 0.5s all ease-out;
    -moz-transition: 0.5s all ease-out;
    -ms-transition: 0.5s all ease-out;
    transition: 0.5s all ease-out;
}

div.welcomeLine{
	display: block;
	box-sizing: border-box;
	position: fixed;
	z-index: -2;
	width:100%;
	top: 35vh;
	text-align: center;
	padding-left: 30px;
	padding-right: 30px;
	background-color: transparent;
	opacity: 1;
	/*margin-bottom: -300px;*/

	-webkit-transition: 0.5s all ease-out;
    -moz-transition: 0.5s all ease-out;
    -ms-transition: 0.5s all ease-out;
    transition: 0.5s all ease-out;
	
}
p.welcomeLine{
	font-family: 'Noto Serif', serif;
	font-size: 30px;
	
	
	display: block;
	color: #444444;
	background-color: rgba(255,255,255, 0.0);
}
div.active{
	left:0px;
	opacity: 1;
	background-color: transparent;
}
i.fa{
	display: inline;
	color: #00BBAA;
	padding: 0px;
	padding-right: 15px;
	margin: 0px;
}
p.LSC{
	font-family: 'Noto Serif', serif;
	font-size: 30px;
	text-align: right;
	margin-right: 5vw;
	display: block;
	background-color: rgba(255,255,255, 0.0);
}
div.section {
	box-sizing: border-box;
	max-width: 600px;
	min-height: 100vh;
	display: block;
	margin-left: 50vw;
	margin-right: 15px;
	margin-bottom: 0vh;
	padding-top: 25vh;
	background-color: transparent;
	/*background-color: rgba(255,0,0,0.2);*/
}
div.card {
	box-sizing: border-box;
	max-width: 100%;
	display: block;
	padding: 15px;
	box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1);
	background-color: #FAFAFA;
}
div.anchorSpace{
	content = "";
	box-sizing: border-box;
	max-width: 100%;
	height:0px;
	display: block;
	margin-bottom: 0vh;
	margin-left: 0px;
	margin-top: 0vh;
	background-color: transparent;
}

p{	
	display: inline;
	box-sizing: border-box;
	color: #444444;
	background-color: transparent;
	font-family: 'Titillium Web', sans-serif;
	font-size: 15px;
	max-width: 100%;
	margin: 0px;
	padding: 0px;
}
a{
	outline: 0;
}
a.menuItem{
	display: block;
	box-sizing: border-box;
	color: #444444;
	font-weight: lighter;
	text-decoration: none;
	font-family: 'Fenix', serif;
	font-size: 15px;
	letter-spacing: 0px;
	line-height: 1;
	background-color: transparent;
	padding: 15px;
	border-top-style: solid;
	border-top-width: 4px; 
	border-top-color: #FAFAFA;

	-webkit-transition: .5s all ease-out;
    -moz-transition: .5s all ease-out;
    -ms-transition: .5s all ease-out;
    transition: .5s all ease-out;
}

h1{
	display: block;
	box-sizing: border-box;
	color: #444444;
	font-weight: lighter;
	font-family: 'Fenix', serif;
	font-size: 20px;
	letter-spacing: 0px;
	line-height: 1;
	background-color: transparent;
}

nav{
	box-sizing: border-box;
	display: block;
	position: fixed;
	bottom: 0px;
	left:0px;
	width: 100% ;
	background-color: #FAFAFA;
	box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1);
}
button.menuButton{
	display: none;
	box-sizing: border-box;
	color: #444444;
	border: none;
	padding: 15px;
	font-family: 'Fenix', serif;
	font-size: 15px;
	letter-spacing: 0px;
	line-height: 1;
	background-color: #FAFAFA;
	cursor: pointer;
	width:100%;
	outline: none;
	box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1);
	border-top-style: solid;
	border-top-width: 4px; 
	border-top-color: #FAFAFA;
}

ul.menu{
	list-style-type: none;
	box-sizing: border-box;
	display: block;
	padding: 0px;
	border:0px;
	margin: 0px;
	float:right;
	
}
ul.menu li{
	/*padding: 15px;*/
	text-align: center;
	float:left;
	
}

ul.programme{
	list-style-type: square;
}
ul.programme li{
	color: #444444;
	background-color: #FAFAFA;
	font-family: 'Titillium Web', sans-serif;
	font-size: 15px;
}

footer{
	width:100%;
	background-color: transparent;
	margin:0px;
}
p.contact{
	display: block;
	font-family: 'Fenix', serif;
	font-size: 13px;
	text-align: center;
	padding-top: 150px;
	padding-bottom: 150px;
	margin: auto;
	background-color: transparent;
}
a.contact{
	width: 30px;
	display: block;
	margin:auto;
	text-align: center;
	text-decoration: none;
}
i.fa{
	/*padding-bottom: 150px;*/
	margin: auto;
	color: #00BBAA;
	padding: 0px;
}

a.menuItem:hover{
	color: #FAFAFA;
	background-color: #00BBAA;
	border-top-color: #00BBAA; 
	/*box-shadow: -3px 5px 5px 0px rgba(0, 0, 0, 0.2);*/
}

#menu li.active a {
	color: #444444;
	background-color: #FAFAFA;
	border-top-color: #00BBAA;
/*	box-shadow: -3px 5px 5px 0px rgba(0, 0, 0, 0.2);*/
}

ul.fa-ul{
	display: block;
	max-width: 100%;
	text-align: left;
	font-family: 'Titillium Web', sans-serif;
	font-size: 15px;
	letter-spacing: 0px;
	color:#444444;

}
ul.fa-ul li{
	padding-bottom: 15px;
	cursor: pointer;
}
ul.fa-ul li:nth-child(even){
	display: none;
}
ul.fa-ul li:nth-child(odd){
	color: #555555;
}

button.contactButton{
	display: block;
	box-sizing: border-box;
	position: fixed;
	top: 70vh;
	left: 50%;
	transform: translate(-50%,0px);
	color: #FAFAFA;
	border: none;
	padding: 15px;
	font-family: 'Fenix', serif;
	font-size: 15px;
	letter-spacing: 0px;
	line-height: 1;
	background-color: #00BBAA;
	cursor: pointer;
	outline: none;
	/*box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1);*/
	white-space: nowrap;

	-webkit-transition: background .2s, color 0.2s, visibility 0.2s linear;
    -moz-transition: background .2s, color 0.2s, visibility 0.2s linear;
    -ms-transition: background .2s, color 0.2s, visibility 0.2s linear;
    transition: background .2s, color 0.2s, visibility 0.2s linear;	
}
button.floatingContactButton{
	display: block;
	box-sizing: border-box;
	position: fixed;
	bottom: 25px;
	left: 25px;
	width:50px;
	height:50px;
	border-radius: 50%;
	color: #FAFAFA;
	border: 1px solid #00BBAA;
	padding: 0px;
	font-family: 'Fenix', serif;
	font-size: 15px;
	letter-spacing: 0px;
	line-height: 1;
	background-color: #00BBAA;
	cursor: pointer;
	outline: none;
	box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.1);
	white-space: nowrap;
	z-index: 1;

	-webkit-transition: background .2s, color 0.2s, visibility 0.2s linear;
    -moz-transition: background .2s, color 0.2s, visibility 0.2s linear;
    -ms-transition: background .2s, color 0.2s, visibility 0.2s linear;
    transition: background .2s, color 0.2s, visibility 0.2s linear;	
}
a.moreInfo{
	display: block;
	width:45px;
	margin: auto;
	color: #00BBAA;
	font-size: 30px;
	text-decoration: none;
	text-align: center;
	/*transform: rotate(180deg);*/
}
i.fa fa-angle-down{
	display: block;
	margin: 0px;
	padding: 0px;
}


/*div.popup {
	box-sizing: border-box;
    display: none;
    position: fixed;
    z-index: 1;
    width: 450px; 
    height: 450px; 
    left:50%;
    top:20%;
    transform: translate(-225px,0);
    background-color: #FAFAFA;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1);
}*/
div.popup{
	display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.1);
}
div.popupContent{
	background-color: #FAFAFA;
    margin: 10% auto;
    padding: 30px;
    border: none;
    max-width: 450px; 
}
form{
	/*padding: 15px;*/
/*	box-sizing: border-box;
	width: 100%;*/
/*	width:100%;
	height: 100%;*/
}
input{
	box-sizing: border-box;
	width: 100%;
	padding: 15px;
	margin-top: 45px;

	border: none;
    border: 2px solid #DDDDDD;
    outline: none; 

	padding: 15px;
	font-family: 'Fenix', serif;
	font-size: 15px;
	color: #444444;
}
input:focus{
	border: 2px solid #00BBAA;
}

textarea{
	box-sizing: border-box;
	resize: none;
	padding: 15px;
	width: 100%;
	margin-top: 45px;
	margin-bottom: 60px;
	height:135px;

	padding: 15px;
	font-family: 'Fenix', serif;
	font-size: 15px;
	color: #444444;

	border: 2px solid #DDDDDD;
    outline: none;
}
textarea:focus{
	border: 2px solid #00BBAA;
}
form button{
	/*float: right;*/
	color: #FAFAFA;
	border: none;
	padding: 15px;
	font-family: 'Fenix', serif;
	font-size: 15px;
	/*width:135px;*/
	background-color: #00BBAA;
	cursor: pointer;
	outline: none;
}
button.closePopup{
	float: right;
	margin:-30px;
	color: #FF8888;
	border: none;
	padding: 30px;
	line-height: 0px;
	/*font-family: 'Fenix', serif;*/
	font-size: 30px;

	background-color: transparent;
	cursor: pointer;
	outline: none;
}
form h1{
	margin-top: 0px;
}

@media screen and (max-width: 1200px){
	div.section{
		margin-left: auto;
		padding-top: 50vh;
	}
	div.anchorSpace{
		margin-left: auto;
	}
	div.approach, div.programme, div.impact, div.faq, div.us{
		margin-left: auto;
	}
	header{
		top: 15px;
	}
	div.LSC{
		opacity: 0;
		top: 15vh;
		/*padding-top: 5vh;*/
		width:600px;
		left: 100vw;
	}
	div.welcomeLine{
		top:15vh;
		text-align: center;
	}
/*	button.contactButton{
	top: calc(15vh + 165px);
	right: 0vw;
	margin-right: 5vw;
	}*/
	div.active{
		left: calc(100% - 600px);
		opacity: 1;
	}
}
@media screen and (max-width: 630px){
	div.welcome{
		height:70vh;
	}
	button.contactButton{
		top:60vh;
	}
	div.section{
		margin-left: 15px;
		padding-top: 50vh;
	}
	p.LSC{
		font-size: 25px;
	}
	div.anchorSpace{
		margin-left: 15px;
	}
	div.approach, div.programme, div.impact, div.faq, div.us{
		margin-left: 15px;
		bottom: 0px;
	}
	nav{
		display: block;
	}
	button.menuButton{
		display: block;
	}
	ul.menu{
		display: none;
		float: none;
	}
	ul.menu li{
		float: none;
	}
	header{
		left:30px;
	}
	div.LSC{
		width:100%;
		top: 15vh;
		left: -100vw;
		opacity: 0;
	}
	div.welcomeLine{
		top:15vh;
		text-align: left;
	}
	p.welcomeLine{
		font-size: 25px;
	}
	div.active{
		left:0px;
		opacity: 1;
	}
	p.tiwHeading{
		letter-spacing: 1px;
		font-size: 10vw;
	}
	p.cursor{
		font-size: 10vw;
	}
	#menu li.active a {
	color: #FAFAFA;
	background-color: #00BBAA;
	border-top-color: #00BBAA;
/*	box-shadow: -3px 5px 5px 0px rgba(0, 0, 0, 0.2);*/
	}
	#menu li.active > a {
	color: #FAFAFA;

	}
	button.floatingContactButton{
		height:50px;
		width:50px;
		left:15px;
	}
}
@media screen and (max-width: 450px){
	div.popup {
	}
}